:root {

    /* ==========================
       CORES PRINCIPAIS
    ========================== */

    --black: #0f0f0f;
    --dark: #1c1c1c;
    --gray: #707070;

    --white-soft: #f5f5f2;
    --white: #ffffff;


    /* ==========================
       CORES DO BARBER POLE
    ========================== */

    --red: #c1121f;
    --blue: #16324f;


    /* ==========================
       TIPOGRAFIA
    ========================== */

    --title-font:
        "Bebas Neue",
        sans-serif;

    --body-font:
        "Montserrat",
        sans-serif;


    /* ==========================
       LAYOUT
    ========================== */

    --container-width: 1400px;


    /* ==========================
       TRANSIÇÕES
    ========================== */

    --transition: 0.3s ease;


    /* ==========================
       SOMBRAS
    ========================== */

    --shadow:
        0 10px 30px
        rgba(0, 0, 0, 0.4);

}